* {
	padding:0;
	margin:0;
	list-style:none;
}
body{
	background: #fffff1;
}
.banner {
	width:640px;
	height:300px;
	overflow:hidden;
	margin:0 auto;
}
.inner {
	width:9999px;
	position:relative;
	animation:aaa 16s infinite 2s running;
}
@keyframes aaa {
	0% {
	transform:translateX(0px);
}
5% {
	transform:translateX(-640px);
}
25% {
	transform:translateX(-640px);
}
30% {
	transform:translateX(-1280px);
}
50% {
	transform:translateX(-1280px);
}
55% {
	transform:translateX(-1920px);
}
75% {
	transform:translateX(-1920px);
}
80% {
	transform:translateX(-2560px);
}
100% {
	transform:translateX(-2560px);
}
}.inner:hover {
	animation-play-state:paused;
	cursor:pointer;
}
.innerwrapper {
	float:left;
	width:640px;
}
.banner img {
	width:640px;
	height:300px;
}
.QuestionHeader{
	margin: 10px  auto;
	width: 800px;
	padding: 16px 0;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
}
.QuestionHeader-title{
	text-align: center;
	margin-top: 12px;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 32px;
    color: #1A1A1A;
}
.QuestionHeader-cont{
	margin: 0 auto;


}
.Button--plain{	
	color: #8590A6;
	cursor: pointer;
}
.bannercont{
	width: 100%;
	background: #FFFFFF;
	padding: 20px;
}
p{
	margin:5px auto;
	text-indent: 1em; /*em是相对单位，2em即现在一个字大小的两倍*/
	line-height:140%;
	letter-spacing: 2px;
}
.txtp{
	padding: 1em 1em 2em 2em;
}
#topcenter {
	width: 13em;
	height: 18em;
	background-color: #fff1f1;
	position: fixed;
	top: 10px;
	left: 10px;
	/*right: 0px;
	#bottom: 0px;*/
	margin: auto;
}
#computer .comp {
	width:72px;height:36px;align-content: center;
}
#computer div input{
	width:3em;
	align-content: center;
	boder:1px;
}